# ===================================================
# MAP COURSE GeoKKPR — Environment Variables
# ===================================================

# --- BACKEND (Railway) ---
PORT=3001
NODE_ENV=production
FRONTEND_URL=https://nama-app-anda.vercel.app

# Firebase Admin (opsional, untuk server-side sync)
FIREBASE_PROJECT_ID=
FIREBASE_DATABASE_URL=

# --- XENDIT PAYMENT GATEWAY ---
# Dapatkan dari: Xendit Dashboard > Settings > API Keys
XENDIT_SECRET_KEY=xnd_development_2BlKZOLeeZyhMNeZ6XleJIMcMVGjDtwl1Sr1YbjidzQdznhug1xNSQ9dJGciP7
XENDIT_PUBLIC_KEY=xnd_public_development_RSwUV58PlWP0icI3VCefoSJVXcV2cefWrkET7vXISgY5bMpVJxmn6Y8SQSLAt
XENDIT_WEBHOOK_TOKEN=tuQ5p4UTceSAGyZ0K69SQgOU9kNfT8Sngvxh4t07Fw1geNCn

