@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 antialiased font-sans min-h-screen selection:bg-[#7d3feb] selection:text-white;
  }
}

/* Custom leaflet map styling */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f4;
}
::-webkit-scrollbar-thumb {
  background: #c5a3f2;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7d3feb;
}
